@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');


nav{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 100vh;
	position: fixed;
	background-color: var(--cor-menu);
	width: 60px;
	box-shadow: 9px 0 0 var(--cor-fundo);
	overflow: hidden;
	transition: 0.9s;
	z-index: 98;
}


nav:hover{
	width: 220px;
}

nav ul{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 9rem;
	padding-left: 5px;
}


nav ul li{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

nav ul li:hover{
	background-color: var(--cor-hover);
	transition: 0.4s;
	letter-spacing: 0.02rem;
}


nav ul li:focus{
	background-color: var(--cor-hover);
	transition: 0.4s;
	letter-spacing: 0.02rem;
}


nav ul li a{
	position: relative;
	display: flex;
	width: 100%;
	text-decoration: none;
	color: whitesmoke;
}


nav ul li a .icone{
	position: relative;
	display: block;
	min-width: 50px;
	height: 50px;
	text-align: center;
	line-height: 60px;
}


nav ul li a .icone ion-icon{
	position: relative;
	font-size: 1.5rem;
	z-index: 1;
}


nav ul li a .titulo{
	font-size: .85rem;
	position: relative;
	display: block;
	padding-left: 8px;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
}


nav ul li.active{
	background: var(--cor-fundo);
}

nav ul li.active a{
	color: var(--cor-selecionado);
	font-weight: bold;
}

nav ul li.active::before{
	position: absolute;
	content: '';
	height: 30px;
	width: 30px;
	background: var(--cor-menu);
	right: 0;
	bottom: 100%;
	border-bottom-right-radius: 8px;
	box-shadow: 0 17px 0 var(--cor-fundo);
}

nav ul li.active::after{
	position: absolute;
	content: '';
	height: 30px;
	width: 30px;
	background: var(--cor-menu);
	right: 0;
	top: 100%;
	border-top-right-radius: 8px;
	box-shadow: 0 -17px 0 var(--cor-fundo);
}



/*  ------------------ MOBILE VERSION ----------------- */

@media screen and (max-width: 990px){

	.navegacao{
		display: flex;
		position: absolute;
		left: -100vw;
	}
	
	

	nav:hover{
		display: none;
	}

	.navegacao ul li:last-child a{
	margin-top: 21rem;
	}

	.navegacao--ativo{
		left: 0;
		width: 21rem;
		position: fixed;
		z-index: 3;
	}

	nav ul{
		padding-top: 5.5rem;
		padding-left: 8px;
	}

}



@media screen and (min-width: 991px){
	nav ul li:last-child a{
		margin-top: 28rem;
	}
}
