.contato{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.contato__cont{
    box-sizing: none;
    position: relative;
    top: 16.5rem;
    background: var(--cor-menu);
    padding: 2rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3rem;
    margin: auto;
    height: 30rem;
    width: 50%;
    border-radius: 1rem;
}


.contato__aside{
    box-sizing: border-box;
    position:relative;
    top: -8rem;
    background: var(--cor-selecionado);
    padding: 4rem;
    border-radius: 2rem;
    margin-left: 0;
}


.imagem__contato{
    width: 220px;
    max-width: 400px;
    margin-bottom: 2.2rem;
}

.contato__aside h2{
    text-align: left;
    margin-bottom: 1rem;
}

.contato__aside span{
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.contato__aside p{
    font-size: .9rem;
    line-height: 1.3;
}

#p2{
    margin-bottom: 2rem;
}


.contato__detalhes li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contato__detalhes li h5{
    font-weight: 400;
}

.contato__detalhes li i{
    font-size: 1.2rem;
    font-weight: 400;
}


.contato__sociais{
    display: flex;
    gap: .9rem;
    margin-top: 3rem;
}


.contato__sociais a{
    background: var(--cor-fundo);
    color: var(--cor-azul);
    padding: .7rem;
    border-radius: 50%;
    font-size: 1.5rem;
    transform: all 0.3s ease-in 0s;
}



.contato__sociais a:hover, .contato__sociais a:focus{
    outline: none;
    color: #fff;
}


.contato__form{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
    margin-right: 4rem;
}


.contato__form input[type="text"]{
    width: 50%;
}


input, textarea{
    width: 100%;
    padding: .7rem;
    background: var(--cor-fundo);
    color: #fff;
    border: none;
    
}


.form__nome{
    display: flex;
    gap: .2rem;
}

.form__email{
    display: flex;
    gap: .2rem;
}

label{
    margin-top: .5rem;
}

#nome{
    text-indent: .25rem;
    margin-right: 2rem;
}

#sobrenome{
    text-indent: .25rem;
}



.btn{
    font-family: 'Montserrat', sans-serif;
    width: max-content;
    max-width: 70%;
    margin-top: 1rem;
    cursor: pointer;
	text-decoration: none;
	box-sizing: border-box;
	background-color: var(--cor-azul);
	color: #fff;
	padding: 1rem 1.5rem;
	margin-bottom: 2rem;
    font-size: 1rem;
	font-weight: 500;
    border: none;
    justify-content: center;
}


.btn:hover{
	background: #fff;
	color: var(--cor-selecionado);
	transition: all 0.3s ease-in 0s;
    outline: none;
}

.btn:focus{
	background: #fff;
	color: var(--cor-selecionado);
	transition: all 0.3s ease-in 0s;
    outline: none;
}


.icon-send{
    font-size: 1.3rem;
}








@media screen and (max-width: 650px){

    .contato{
        height: 100%;

    }
    
    .contato__cont{
        background: var(--cor-menu);
        top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 0;
        padding: 0;
        width: 98vw;
        height: fit-content;
    }

    .contato__aside{
        top: 0;
        padding: 2rem;
        border-radius: .5rem .5rem 2rem 2rem;
        margin-left: 0;
        width: auto;
    }

    .imagem__contato{
        display: flex;
        object-fit: cover;
        padding-bottom: 1rem;
        margin: auto;
    }


    .contato__form{
        align-self: center;
        width: 100%;
        padding: 1rem;
        margin: 0 1rem 2rem 1rem;
    }

    .form__nome{
        flex-direction: column;
    }

    .form__email{
        flex-direction: column;
    }

    .form__nome input[type="text"]{
        width: 100%;
    }


    .contato__sociais{
        justify-content: flex-start;
    }

    .btn{
        max-width: 100vw;
        margin-bottom: 2rem;
        margin: auto;
    }

    .contato__aside span, p{
        display: none;
    }

}




@media screen and (min-width: 651px) and (max-width: 990px){
    .contato{
        min-height: 100vh;
        
    }
    
    .contato__cont{
        top: 8rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 0;
        padding: 0 1rem 0 0;
        width: 98vw;
        margin-bottom: 2rem;
        height: 74%;
    }

    .contato__aside{
        top: 0;
        padding: 3rem 2rem 2rem 2rem;
        border-radius: .5rem 2rem 2rem .5rem;
    }

    .imagem__contato{
        display: flex;
        object-fit: cover;
        padding-bottom: 1rem;
        margin: auto;
    }


    .contato__form{
        align-self: center;
        margin: 0 1rem 2rem 0;
    }

    .form__nome{
        flex-direction: column;
    }

    .form__email{
        flex-direction: column;
    }

    .form__nome input[type="text"]{
        width: 100%;
    }


    .contato__sociais{
        justify-content: flex-start;
    }

    .btn{
        width: 100%;
        margin-bottom: 1rem;
    }

    .contato__aside span, p{
        display: none;
    }
}


@media screen and (min-width: 991px) and (max-width: 1400px){
    .contato{
        min-height: 100%;
        margin-bottom: 4rem;
        
    }

    .contato__cont{
        top: 16rem;
        margin: 0 1rem 1rem 6rem;
        padding: 1rem;
        margin-bottom: 2rem;
        width: auto;
    }

    .contato__form{
        padding-top: 1rem;
        gap: 1rem;
        margin-right: 4rem; 
    }

    .contato__aside{
        padding: 2rem;
    }


}