/* <<<<<<< ALERT DE SIGNUP >>>>>>>> */
.modal-signup{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.68);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
}

.dialog-modal-signup{
	color: #fff;
	background-color: var(--cor-menu);
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: .5rem;
    width: 340px;
}

.show-modal-signup{
    display: block;
    animation: signup .4s;
}

.signup__fig{
    margin-bottom: 1.5rem;
}

.signup__fig-logo{
    width: 56px;
    height: 56px;
}


.dialog-modal-signup p{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: .86rem;
}

.signup__icon{
    position: fixed;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.signup__icon:hover, .signup__icon:focus{
    color: var(--cor-selecionado);
}

.btnSignUp{
    width: 25%;
}


@keyframes signup{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}



/* <<<<<<< ALERT ERRO ACESSO >>>>>>>> */
.login-erro{
    border: 3px solid var(--texto-vermelho);
    padding: .6rem .8rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    text-align: center;
    justify-content: center;
    display: none;
}

.show-login-erro{
    display: block;
}

.login-erro__titulo{
    color: rgb(255, 83, 83);
    font-size: 1rem;
}

.login-erro__titulo-icon{
    margin-right: .275rem;
    font-size: 1.2rem;
}

.login-erro__info{
    font-size: .8rem;
    color: rgb(255, 83, 83);
}