:root{
	--gradient-fundo: linear-gradient(135deg,rgb(197, 54, 54),#a52232);
	--fonte-principal: font-family: Arial, Helvetica, sans-serif;
	--cor-fundo: rgba(0,0,0,0.7);
	--sombra-tela: 5px 5px 10px rgba(0, 0, 0, 0.4);

	--branco: white;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	width: 100vw;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-image: var(--gradient-fundo);
	font-family: var(--fonte-principal);
}