@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');


.cabecalho{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	color: #edf0f1;
	text-decoration: none;
	position: fixed;
	padding: 1.12rem 5%;
	box-sizing: border-box;
	background-color: #3b3c42;
	display: flex;
	text-align: center;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	z-index: 98;
}


.window-scroll{
	border-bottom: #24252A;
	border-bottom-width: 2px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


.cabecalho__logo{
	padding-right: 3rem;
	align-items: flex-start;
	margin-right: auto;
}

.cabecalho__lista{
	list-style: none;
}

.cabecalho__item{
	display: inline-block;
	padding: 0px 1rem;
}

.cabecalho__lista--link{
	transition: all 300ms ease-in;
}

.cabecalho__lista--link:hover{
	color: rgb(224, 77, 77);
	font-weight: 400;
}


.cabecalho__lista--link.ativo{
	color: #c93939;
	font-weight: 500;
	font-size: 1.12rem;

}


.cta{
	font-weight: 500;
	margin-left: 20px;
	padding: .60rem 1.75rem;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	color: aliceblue;
	transition: all 0.3s ease-in 0s;
	font-size: .94rem;
}

.cta:hover{
	background-color: aliceblue;
	color: #c93939;
}

.ul-mobile, .menu, .apps{
	display: none;
}


#close-apps, #close-apps{
	display: none;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 2rem;
}



/*  ------------------ MOBILE VERSION ----------------- */

@media screen and (max-width: 813px){

	.window-scroll{
		display: none;
	}

	#close-apps{
		display: none;
		border: none;
		background-color: transparent;
		color: white;
		font-size: 2rem;
	}

	.cabecalho{
		display: flex;
    	align-items: center;
		justify-content: space-between;
		position: fixed;
	}


	.cabecalho__lista, .cabecalho__item, .cabecalho__lista--link, .cabecalho__logo, .cta{
		display: none;
	}


	.menu{
		display: flex;
		border: none;
		background-color: transparent;
		color: white;
		font-size: 1.45rem;
	}

	.apps{
		display: flex;
		border: none;
		background-color: transparent;
		color: white;
		font-size: 2rem;
	}

	.ul-mobile{
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
		font-size: .86rem;
		color: #edf0f1;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 1.26rem;
		position: absolute;
		top: -150vh;
		background-color: #3b3c42;
		text-transform: uppercase;
		transition-timing-function: ease-in-out;
		transition-duration: 500ms;
		
	}

	.apps-open{
		right: 5px;
		width: 55vw;
		top: 4.66rem;
		z-index: 2;
		position: fixed;
	}
	
	
	.mobile__item{
		width: 55vw;
		padding: .56rem;
		border-top: 1.5px solid #c93939;
	}
	
	.mobile__lista--link.ativo{
		color: #c93939;
		font-weight: bold;
		font-size: 1rem;
	
	}
	
	
	.cta-mobile{
		padding: .58rem;
		background-color: transparent;
		border-top: 1.5px solid #c93939;
		list-style: none;
		text-decoration: none;
	}
	
}