@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');

.fundo{
	background-color: var(--cor-selecionado);
}

.tela-login{
	background-color: rgba(38,38,38,0.9);
	min-width: 340px;
	color: var(--branco);
	border-radius: 12px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	color: var(--branco);
	padding: 3rem 2rem;
	border-radius: 14px;
	box-shadow: var(--sombra-tela);
	box-sizing: border-box;
}



#login{
	font-family: 'Arimo', sans-serif;
	font-size: 2.1rem;
	align-self: flex-start;
	margin-bottom: 1.5rem;
    margin-top: 0;
    margin-left: 1.25rem;
    position: relative;
}


#login:before{
	content: '';
    position: absolute;
    height: 5px;
    width: 40px;
    bottom: 1px;
    left: 0;
    border-radius: 30%;
    background: var(--cor-selecionado);
}


.input{
	width: 100%;
	display: inline-block;
    margin: .4rem 0;
    border-radius: 5px;
    outline: none;
	border: none;
    font-size: 1rem;
}


.input--icone{
	padding-left: 4rem;
    background-repeat: no-repeat;
    background-position: left 1rem center;
}


.input--user{
	background-image: url(../img/user.svg);
	height: 36px;
}

.input-container--invalido .input--user{
	background-image: url(../img/user-erro.svg);
	height: 35px;
}


.input--senha{
	background-image: url(../img/lock.svg);
	height: 36px;
}

.input-container--invalido .input--senha{
	background-image: url(../img/lock-erro.svg);
	height: 35px;
}


.input:focus{
	border-color: rgb(222, 49, 49);
	border-width: 3px;
	border-radius: 6px;
	transition: 0.3s;
}


/* ------ INPUT DE ERRO ------ */
.input-container{
	margin-bottom: .2em;
}

.input-container--invalido .input {
    border: 3px solid #F2A30F;
    border-radius: 7px;
	color: #F2A30F;
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: var(--cor-amarelo);
    display: block;
    margin-top: 0.1rem;
    padding-left: 0.5rem;
	font-size: .8rem;
	box-sizing: border-box;
}



button{
    background-color: var(--cor-azul);
    border: none;
    padding: 0.75rem;
    width: 100%;
    margin-top: .4rem;
    border-radius: 8px;
    color: var(--branco);
    font-size: 18px;
}

button:hover, button:focus{
	background-color: #1e80ff;
	cursor: pointer;
	transition: 0.7s;
	transform: translate(1.2);
}


.problemas--info{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-weight: 300;
	margin-top: 2rem;
	font-family: 'Inconsolata', monospace;
	font-size: .86rem;
}


.problemas--solution{
	font-family: 'Inconsolata', monospace;
	font-weight: 300;
	font-size: 1rem;
	color: rgb(255, 73, 73);
	text-decoration: none;
	padding-left: 0.5rem;
	background: transparent;
	padding: 0;
	margin: 0;
	width: 80px;
}

.problemas--solution:hover, .problemas--solution:focus{
	background: transparent;
}


/* ------ RODAPE ------ */
footer{
	font-size: .9rem;
	position: absolute;
	bottom: 10px;
	right: 16px;
	width: 98%;
	text-align: right;
}

footer a{
	background-color: rgb(59, 85, 141);
	padding: .3rem;
}



@media screen and (min-width: 380px) and (max-width: 810px){
	body{
		height: 100vh;
	}


	footer{
		font-size: .8rem;
		position: absolute;
		bottom: 16px;
		text-align: center;
	}


	button{
		width: 100%;
	}
}