@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

.perguntas{
	font-family: 'Montserrat', sans-serif;
	position: relative;
	color: #fff;
	padding-top: 2rem;
	padding-bottom: 3rem;
	width: 100%;
}

.perg__container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 3;
	gap: 1rem;
	margin-left: 15rem;
	margin-right: 10rem;
}


.perg{
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 1.4rem;
	height: fit-content;
	background: var(--cor-selecionado);
	cursor: pointer;
}

.titulo__perguntas{
	font-weight: 600;
	font-size: 1.2rem;
	margin-top: 4rem;
	margin-bottom: 3rem;
	margin-left: 4rem;
	align-items: center;
	text-align: center;
}


.perg h4{
	font-weight: 500;
	font-size: .9rem;
	line-height: 2.2;
}

.perg__icon{
	align-self: flex-start;
	font-size: 1.2rem;
}

.perg p{
	display: none;
}

.perg.open p{
	color: lightgray;
	display: block;
	text-align: start;
	font-size: 0.9rem;
	margin-top: 1rem;
	font-weight: 400;
}

.titulo i{
	display: none;
}




@media screen and (max-width: 812px){
    .perguntas{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: 100%;
	}

	.titulo__perguntas{
		margin: 0;
		text-align: center;
		font-size: 1rem;
		line-height: 5;
	}

	.perg__container{
		width: 100vw;
		display: flex;
		margin: auto;
		flex-direction: column;
	}

	.perg{
		margin-right: .75rem;
		margin-left: .75rem;
		width: 94%;
		display: flex;
		padding: .5rem;
		align-items: flex-start;
	}


	.perg.open p{
		text-align: start;
		font-size: 0.7rem;
		margin-top: 1rem;
		margin-right: 0;
		font-weight: 300;
	}
}
