@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');


.categorias{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background-color: var(--cor-fundo);
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 8rem 8rem 4rem 8rem;
	min-height: 100%;
}


.categorias__container{
	display: grid;
	grid-template-columns: 45% 55%;
	gap: 3rem;
}


.categoria-esquerda{
	margin-left: 8rem;
	margin-right: 3rem;
	line-height: 1.5;
	text-align: start;
	margin-bottom: 2rem;
}


.categoria-esquerda h1{
	line-height: 2;
	font-weight: 600;
	margin-bottom: 2rem;
	font-size: 2rem;
}


.categoria-esquerda p{
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 3rem;
	font-size: 1rem;
}


.btn{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	box-sizing: border-box;
	background: var(--cor-selecionado);
	color: #fff;
	padding: 1.15rem 2rem;
	margin-bottom: 2rem;
	font-weight: 500;
}


.btn:hover{
	background: #fff;
	color: var(--cor-selecionado);
	transition: all 0.3s ease-in 0s;
}

.btn:focus{
	background: #fff;
	color: var(--cor-selecionado);
	transition: all 0.3s ease-in 0s;
}


.categoria-direita{
	padding-top: 3rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: .1rem;
	justify-content: center;
}


.produtos{
	font-weight: 400;
	width: 13rem;
	height: 12rem;
	max-height: 230px;
	padding-top: .66rem;
	background-color: var(--background-sub-btn);
    box-shadow: 0.3px 4px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
	position: relative;
    overflow: hidden;
}


.titulo__imagem{
	height: 50%;
	width: 50%;
	display: block;
	margin: auto;
	box-sizing: border-box;
	justify-content: center;
	padding: 1rem;	
}


.titulo__produto{
	margin: auto;
	padding: 0;
	font-size: 1rem;
	text-align: center;
	color: #fff;
}


.informacao{
	line-height: 1.4;
	font-size: .8rem;
	font-weight: 300;
	text-align: left;
	color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: .85rem;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.produtos:hover .informacao{
    transform: translateY(0);
}

.produtos:focus .informacao{
    transform: translateY(0);
}

.produtos:hover{
	box-shadow: 0 2.2rem 2.2rem rgba(0,0,0,0.3);
}


.produtos:focus{
	box-shadow: 0 2.2rem 2.2rem rgba(0,0,0,0.3);
}


.informacao h3{
	text-align: center;
}





@media screen and (max-width: 650px){
	
	.categorias{
		align-items: center;
		padding: 6rem .76rem 2rem .76rem;
	}

	.categorias__container{
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1.5rem;
	}


	.categoria-esquerda{
		margin: .75rem;
		line-height: 1.5;
		text-align: start;
		margin-bottom: .5rem;
	}


	.categoria-esquerda h1{
		line-height: 2;
		margin-bottom: .86rem;
		font-size: 1.8rem;
		text-align: start;
	}
	
	
	.categoria-esquerda p{
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 1.86rem;
		font-size: 1rem;
		text-align: start;
	}

	.btn{
		display: flex;
		color: #fff;
		font-size: 1rem;
		font-weight: 300;
		text-decoration: none;
		justify-content: center;
		max-width: 50%;
		background-color: rgb(59, 85, 141);
		border-radius: 6px;
		padding: 1rem 1.5rem;
		margin-bottom: 0;
	}



	.categoria-direita{
		display: flex;
		flex-direction: column;
		gap: .86rem;
		justify-content: center;
		align-items: center;
}
	

	.produtos{
		padding: 1rem 1rem;
		overflow: hidden;
		width: 50vw;
		height: 176px;
	}


	.titulo__imagem{
		height: 100px;
		width: 90px;
		margin: auto;
		justify-content: center;
		padding: 1.5rem 1.26rem;	
	}

	.titulo__produto{
		justify-content: center;
		font-size: 1rem;
		font-weight: 300;
	}

	.titulo i{
		color: #fff;
		display: flex;
		justify-content: end;
		position: relative;
		bottom: 1.4rem;
		font-size: 1.26rem;
	}
}



@media screen and (min-width: 650px) and (max-width: 990px){
	.categorias__container{
		grid-template-columns: 1fr;
	}

	.categorias{
		padding: 8rem 1rem 4rem 1rem;
	}

	.categoria-esquerda{
		margin: 1rem;
	}

	.categoria-direita{
		margin: auto;
		gap: 1rem;
	}

	.produtos{
		width: 12rem;
	}

	.btn{
		display: flex;
		color: #fff;
		font-size: 1rem;
		font-weight: 300;
		text-decoration: none;
		justify-content: center;
		max-width: 34%;
		background-color: rgb(59, 85, 141);
		border-radius: 6px;
		padding: 1rem 1.5rem;
		margin-bottom: 0;
	}
}


@media screen and (min-width: 991px) and (max-width: 1400px){
	.categorias{
		padding: 8rem 1rem 4rem 1rem;
	}

	.categoria-esquerda{
		padding-top: 3rem;
		margin: 0 1rem 2rem 6rem;
	}

	.categoria-direita{
		margin: auto;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		padding-left: 2rem;
	}
}