footer{
    background: var(--cor-menu);
    padding-top: 5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

footer h4{
    font-size: 1.27rem;
}


.rodape__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding-left: 16rem;
}

.rodape_logo{
    width: 60px;
    height: 50px;
    margin-bottom: 1.2rem;
}

.rodape__container > div h4{
    margin-bottom: 1.2rem;
}

footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}

footer ul li a:focus{
    text-decoration: underline;
}

.rodape__midias-sociais{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}


.rodape__copyright{
    font-family: 'Montserrat', sans-serif;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--cor-fundo-secund);
}




@media screen and (max-width: 800px){
    footer{
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        margin-top: 10rem;
        height: 100%;
    }
    
    
    .rodape__container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 1rem;
        padding-left: 0;
        text-align: center;
    }
    
    
    .rodape__midias-sociais{
        display: flex;
        gap: 4rem;
        flex-direction: row;
        justify-content: center;
        font-size: 1.3rem;
        margin-top: 2rem;
    }
    
}


@media screen and (max-width: 990px){
    footer{
        margin-top: 6rem;
        padding-top: 6rem;
    }


    .rodape__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem;
    }
}



@media screen and (min-width: 991px) and (max-width: 1400px) {
    .rodape__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-left: 7.5rem;
    }
}