@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root{
	--background-sub-btn: rgb(46, 43, 42);
	--fundo-card: #222222;
	
	--cor-menu: #1b1b1b;
	--cor-fundo: #262626;
	--cor-fundo-secund: #404040;
	--cor-fundo-terc: #807e7e;

	--cor-selecionado: #a52232;
	--cor-hover: #151515;
	--texto-vermelho: #94090D;
	--cor-azul: #4A5FD9;
	--cor-amarelo: #F2CE16;
	--btn-azul: #155266;

	--plano-azul: #155266;
	--plano-roxo: #7f2da0;
	--plano-vermelho: #992727;
	--plano-lilas: #381566;
	--plano-verde: #156627;

	--cabecalho-altura: 3.5rem;
	
	--cor-sombra: rgba(0,0,0,0.7);
	--sombra-tela: 5px 5px 10px rgba(0, 0, 0, 0.4);
	--sombra-neon: 4px 4px 16px rgba(33, 59, 177, 0.144);

	--font-size-grande: 2.4rem;
    --font-size-normal: 1rem;
    --font-size-pequeno: .7rem;
    --body-fonte: 'Poppins', sans-serif;
    --body-fonte-2: 'Montserrat', sans-serif;

	--branco: #fff;


}


@import url(./menu.css);

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	color: #fff;
	align-items: center;
	justify-content: center;
	font-family: var(--fonte-principal);
	background-color: var(--cor-fundo);
}


a, ul, li, ol{
	color: inherit;
	text-decoration: none;
	list-style: none;
}


em{
    font-weight: 500;
    text-decoration: none;
}


